@media only screen and (max-width: 980px) {
    div#thumb-view {
        width: 100% !important;
    }

    div#home-carousel div#thumb-view img {
        margin: 20px;
        width: 200px;
    }

    form ul#image-sortlist img {
        width: 85%;
    }
}

@media only screen and (max-width: 767px) {
    div#homes-slideshow-listings div.cycle-overlay {
        font-size: 2em;
        line-height: 30px;
    }

    div.caption-full h4,
    div.caption-full p {
        font-size: 11px;
        line-height: 12px;
        margin: 6px 0;
    }

    div#home-carousel div#thumb-view img {
        margin: 15px;
        width: 150px;
    }

    form ul#image-sortlist li {
        width: 45%;
        margin: 8px 0;
    }
}

@media only screen and (max-width: 480px) {
    div#homes-slideshow-listings div.cycle-overlay {
        font-size: 1em;
        line-height: 15px;
    }

    form ul#image-sortlist img {
        width: 75%;
    }
}

span.icon-vppi-menu-logo {
    background-image: url(../images/vppi-menu-logo.png);
    width: 200px;
    height: 48px;
}

span.icon-back:before {
    color: #bd362f;
    content: "\4a";
}

div#remarks,
div#basic-home-info,
div#feature-home-info {
    clear: both;
}

div#basic-home-info ul,
div#feature-home-info ul {
    list-style-type: none;
}

div#basic-home-info ul li,
div#feature-home-info ul li {
    float: left;
    margin-right: 15px;
}

div#home-listing p {
    margin-left: 25px;
}

div#remarks,
div#feature-home-info {
    padding-top: 15px;
}

div#feature-home-info {
    padding-bottom: 30px;
}

table.table td.vert-center {
    vertical-align: middle;
}

div#homes-slideshow-listings,
div#home-listing,
div#home-slideshow,
div#home-carousel {
    position: relative;
}

div#homes-slideshow-listings {
    width: 100%;
    max-height: none;
    height: auto;
}

div.cycle-overlay {
    font-size: 3em;
    line-height: 40px;
    position: absolute;
    bottom: 0;
    z-index: 600;
    background: black;
    color: white;
    padding: 3%;
    opacity: .5;
}

div.home-list-listing {
    position: relative;
}

div#homes-slideshow-listings img.sold {
    position: absolute;
    left: 0;
    top: 0;
}

div.home-list-listing img.sold {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

div#home-carousel img {
    margin: 26px;
    width: 250px;
}

div.pics {
    width: 100%;
    padding: 0;
    margin: 0;
}

div.pics img {
    width: 100%;
}

div.arrow {
    color: #c3c3c3;
    position: absolute;
    display: block;
    width: 50px;
    height: 54px;
    top: 45%;
    margin-top: -12px;
    cursor: pointer;
    z-index: 110;
    text-align: center;
    font-size: 2.2em;
}

div.arrow span {
    font-family: "Euphemia UCAS", Euphemia, Helvetica;
    font-size: 65px;
    line-height: 45px;
    display: block;
    width: 50px;
    height: 54px;
    cursor: pointer;
    z-index: 10;
    text-align: center;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

div.arrow:hover {
    opacity: 1;
}

div#next {
    right: -5px;
}

div#prev {
    left: -5px;
}

div#carNext {
    right: -10px;
}

div#carPrev {
    left: -10px;
}

div#next:hover span,
div#carNext:hover span {
    color: #6b7a28;
    text-shadow: 0 0 6px #a0b83c;
}

div#prev:hover span,
div#carPrev:hover span {
    color: #6b7a28;
    text-shadow: 0 0 6px #a0b83c;
}

ul#image-sortlist li {
    width: 30%;
    display: inline-block;
    margin: 10px 0;
}

ul#image-sortlist img {
    max-width: 250px;
    width: 90%;
}

div.home-list-listing {
    display: inline-block;
    width: 31%;
}
