<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component">
		<field
			name="upload_extensions"
			type="text"
			size="50"
			default="bmp,csv,doc,gif,ico,jpg,jpeg,odg,odp,ods,odt,pdf,png,ppt,swf,txt,xcf,xls,BMP,CSV,DOC,GIF,ICO,JPG,JPEG,ODG,ODP,ODS,ODT,PDF,PNG,PPT,SWF,TXT,XCF,XLS"
			label="COM_VPPI_FIELD_LEGAL_EXTENSIONS_LABEL"
			description="COM_VPPI_FIELD_LEGAL_EXTENSIONS_DESC" />

		<field
			name="upload_maxsize"
			type="text"
			size="50"
			default="10"
			label="COM_VPPI_FIELD_MAXIMUM_SIZE_LABEL"
			description="COM_VPPI_FIELD_MAXIMUM_SIZE_DESC" />


		<field
			name="image_extensions"
			type="text"
			size="50"
			default="bmp,gif,jpg,png"
			label="COM_VPPI_FIELD_LEGAL_IMAGE_EXTENSIONS_LABEL"
			description="COM_VPPI_FIELD_LEGAL_IMAGE_EXTENSIONS_DESC" />

		<field
			name="ignore_extensions"
			type="text"
			size="50"
			label="COM_VPPI_FIELD_IGNORED_EXTENSIONS_LABEL"
			description="COM_VPPI_FIELD_IGNORED_EXTENSIONS_DESC" />

	</fieldset>
</config>
